*{
    box-sizing: border-box;
    margin: 0;
    padding:0;

}
body{
    font-family: 'Roboto', sans-serif;

}
.container{
    width: 80%;
    margin: 0 auto;
}
.float{
    float:left;
}

h1,h2,h3{
    font-weight: normal;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.list-menu>li{
    display: inline-block;
    list-style-type: none;
    font-size: 14px;
    text-transform: uppercase;
    margin: 7px;

}

.link-head:not(:hover){
    color: white;
    text-decoration: none;
}
.link-head:hover{
    color: white;
    text-decoration: none;
}

a:hover{
    color: rgb(124,187,3);
}

.btn{
    display: inline-block;
    font-size: 14px;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid white;
    font-size: 14px;
    line-height:14px;
}

.btn-green{
    background-color: rgb(124,187,3);
    border-color: rgb(124,187,3);
}

.btn-green:hover{
    color: white;
}

.btn-large{
    line-height: 40px;
    text-transform: uppercase;
}

.testo{
    line-height: 22px;
    color: gray;
}

/* header */
header{
    background-image: url(../img/background-header.png);
    background-repeat: no-repeat;
    background-position: 111% bottom;
    background-size: 60% auto;
    background-color: rgb(12,50,90);
    height: 550px;
    color: white;
}


/* barra di navigazione */
.barra{
    height: 80px;
    line-height: 80px;
}

.cont-logo{
    width: 15%;
    height: 100%;    
}

.cont-logo>img{
    vertical-align: middle;
}

.cont-menu{
    width: 45%;
    height: 100%;
    vertical-align: middle;

}

.cont-button{
    height: 100%;
    width: 40%;
    text-align:right;
    vertical-align: middle;
}

.jumbotron{
    position:relative;
    height: 470px;
    font-size: 24px;

    
}
.jumbotron-text>h1{
    padding-bottom: 5%;
    padding-right: 10%;

}
.jumbotron-text{
    position:absolute;
    top: 25%;
    width: 50%;
}


/*sezione disclaimer */
.disclaimer{
    position: relative;
    background-color: lightgray;
    height: 130px;
    width: 100%;
}


.disclaimer-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 45px;
}

/*sezione servizi */
.servizi{
    width: 100%;
    text-align: center;
}

.piano{
    width:30%;
    height: 100%;
    padding:2%;
}

.immagine-sottosezione{
    height: 150px;
    margin: 5%;
}

.cont-img-sott{
    position
    width: 100%;
    align-items: center;
}

.titolo-sottosezione{
    color: rgb(124,187,3);
    font-size: 22px;

}
.divisore-sottosezione{
    margin: 5% 30%;
    color: black;
}


.tutor{
    width: 30%;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;

}

.monitora{
    width: 30%;
    height: 100%;
    padding: 2%;

}

/*sezione test*/
.test{
    width: 100%;
}


.sezione-test{
    margin: 5%;
    width: 40%;
    height: 100%;
    
}
.titolo-test{

    font-size: 36px;
    margin-bottom: 2%;
}

.divisore-main{
    color: light-gray;
    margin: 1%;

}
/* note piè di pagina */
.note{
    background-color: lightgray;
    width: 100%;
}

.footer-sinistra{
    margin-top: 50px;
    width: 30%;
}



.footer-centro{
    position: relative;
    margin-top: 50px;
    width: 30%;
}
.sel-cl{
    position:absolute;
    right: 0px;    
}

.footer-destra{
    margin: 25px;
    width: 20%;
}


.container-ft-btn{
    text-align: center;
}

.blk-marg{
    display: block;
    margin:10px;
}
