*{
    box-sizing: border-box;
    margin: 0;
    padding:0;

}
body{
    font-family: 'Roboto', sans-serif;

}
.container{
    width: 80%;
    margin: 0 auto;
}
.float{
    float:left;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.list-menu>li{
    display: inline-block;
    list-style-type: none;
    padding: 0px;
    padding: 10px;
    font-size: 14px;
    text-transform: uppercase;

}

a{
    text-decoration: none;
}
a:not(:hover){
    color: white;
}



a:hover{
    color: rgb(124,187,3);
}

.btn{
    font-size: 14px;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid white;
    font-size: 14px;
    line-height:14px;
    margin-right: 20px;
}

.btn-green{
    background-color: rgb(124,187,3);
    border-color: rgb(124,187,3);
}

.btn-green > a:hover{
    color: white;
}

.btn-large{
    line-height: 36px;
    width: 140px;
    margin-top: 20px;
}

/* header */
header{
    background-image: url(../img/background-header.png);
    background-repeat: no-repeat;
    background-position: 111% bottom;
    background-size: 60% auto;
    background-color: rgb(12,50,90);
    height: 550px;
    color: white;
}


/* barra di navigazione */
.barra{
    height: 80px;
    line-height: 80px;
}

.cont-logo{
    width: 15%;
    height: 100%;    
}

.cont-logo>img{
    vertical-align: middle;
}

.cont-menu{
    width: 45%;
    height: 100%;
    vertical-align: middle;

}

.cont-button{
    height: 100%;
    width: 40%;
    text-align:right;
    vertical-align: middle;
}


.jumbotron{
    position:relative;
    height: 470px;
    
}

.jumbotron-text{
    position:absolute;
    top: 25%;
    width: 50%;
    font-size: 22px;

}


/*sezione disclaimer */
.disclaimer{
    position: relative;
    background-color: lightgray;
    height: 150px;
    width: 100%;

}

.disclaimer>h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}



/*sezione servizi */
.servizi{
    background-color: burlywood;
    width: 100%;
    text-align: center;
}

.piano{
    width:30%;
    height: 100%;
    background-color: darkgrey;
    padding:2%;
}

.immagine-sottosezione{
    width: 100px;
    margin: 5%;
}

.cont-img-sott{
    position
    width: 100%;
    align-items: center;
}

.titolo-sottosezione{
    color: rgb(124,187,3);

}
.divisore-sottosezione{
    margin: 5% 30%;
    color: black;
}
.testo{
    line-height: 22px;
    color: gray;
}

.tutor{
    width:30%;
    height: 100%;
    background-color: darkgrey;
    margin-left: 5%;
    margin-right: 5%;
    padding:2%;

}

.monitora{
    width:30%;
    height: 100%;
    background-color: darkgrey;
    padding:2%;

}

/*sezione test */
.test{
    background-color:darkmagenta;
    height: 550px;
    width: 100%;
}

/* note piè di pagina */
.note{
    background-color: darkcyan;
    height: 100px;
    width: 100%;
}


