*{
    box-sizing: border-box;
    margin: 0;
    padding:0;

}

.container{
    width: 80%;
    margin: 0 auto;
}

/* header */
header{
    text-decoration: none;
    text-transform: uppercase;
    background-image: url(../img/background-header.png);
    background-repeat: no-repeat;
    background-position: 111% bottom;
    background-size: 60% auto;
    background-color: rgb(12,50,90);
    height: 550px;
}

.bar{
    height: 80px;
    line-height: 80px;

}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.list-menu>li{
    display: inline-block;
    list-style-type: none;
    padding: 0 ;
}

.float{
    float:left;
}
img{
    vertical-align: center;

}
.cont-logo{
    width: 15%;

}
.cont-menu{
    width: 45%;
  
}


.jumbotron{
    height: 100%;
    padding-top: 8%;
    padding-right: 60%;
}

.cont-button{
    width: 40%;
}

.cont-button>p{
    display: inline-block;
}

/*sezione disclaimer */
.disclaimer{
    background-color: brown;
    height: 150px;
    width: 100%;

}

/*sezione servizi */
.offerta{
    height: 650px;
}

.servizi{
    background-color: burlywood;
    height: 550px;
    width: 100%;
}

.piano{
    width:30%;
    height: 100%;
    background-color: darkgrey;
}

.tutor{
    width:30%;
    height: 100%;
    background-color: darkgrey;
    margin-left: 5%;
    margin-right: 5%;
}

.monitora{
    width:30%;
    height: 100%;
    background-color: darkgrey;
}


.test{
    background-color:darkmagenta;
    height: 550px;
    width: 100%;
}

.note{
    background-color: darkcyan;
    height: 100px;
    width: 100%;
}


